[submodule "karizmaconseil/kzm_accounting"]
	path = karizmaconseil/kzm_accounting
	url = git@github.com:karizmaconseil/kzm_accounting.git
	branch = 12.0

[submodule "karizmaconseil/kzm_hr"]
	path = karizmaconseil/kzm_hr
	url = git@github.com:karizmaconseil/kzm_hr.git
	branch = 12.0

[submodule "karizmaconseil/kzm_account_reporting"]
	path = karizmaconseil/kzm_account_reporting
	url = git@github.com:karizmaconseil/kzm_account_reporting.git
	branch = 12.0

[submodule "karizmaconseil/karizma_tools"]
	path = karizmaconseil/karizma_tools
	url = git@github.com:karizmaconseil/karizma_tools.git
	branch = 12.0

[submodule "OCA/web"]
	path = OCA/web
	url = git@github.com:OCA/web.git
	branch = 12.0

[submodule "OCA/server-tools"]
	path = OCA/server-tools
	url = git@github.com:OCA/server-tools.git
	branch = 12.0

[submodule "OCA/server-ux"]
	path = OCA/server-ux
	url = git@github.com:OCA/server-ux.git
	branch = 12.0

[submodule "OCA/partner-contact"]
	path = OCA/partner-contact
	url = git@github.com:OCA/partner-contact.git
	branch = 12.0
