.pos-reporting-tciket-container {
    text-align: left;
    width: 300px;
    background-color: white;
    margin: 20px;
    padding: 15px;
    font-size: 14px;
    padding-bottom:30px;
    display: inline-block;
    font-family: "Inconsolata";
    border: solid 1px black;
    border-radius: 3px;
    overflow: hidden;
}
.pos-reporting-tciket-containe pre{
    font-family: "Inconsolata";
}
.pos-reporting-tciket-containe .emph{
    font-size: 20px;
    margin:5px;
}
.pos-reporting-tciket-containe table {
    width: 100%;
    border: solid 1px black;
    table-layout: fixed;
    border-color: black;
}
.pos-reporting-tciket-containe table td {
    border: solid 1px black;
    word-wrap: break-word;
    border-color: black;
}
