{% load static %}
<html>
    <head>
        <title>COM PORT COMMUNICATE</title>
      	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
  </head>
	<body>

		<center>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>

			<br/>
			<br/>
			<br/>

			<a href="/com/test"> TESTER L'AFFICHE CLIENT </a><br/>
			<a href="/com/opencashdrawer"> TESTER L'OUVERTURE TIROIR DEPUIS L'IMPRIMENTE </a>
		</center>
	</body>
	</html>